    p {
    font-size: 20px;
}
 ul li a {
    font-size: 25px;
    color: blue;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {

    text-decoration: none;
}
header h1{

    text-align: center;
} 
section a {

    text-align: left;
    border-color: aquamarine;
    margin-bottom: auto;
}

