header h1 {
    background-color: orangered;
    height: 200px;
    width: 100%;
    line-height: 200px;
    text-align: center;
    color: #ffff;
    }
    nav ul li a {
        color:blue;
        font-size: 25px;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p {
        font-size: 20px;
        color:black;
    }
    h1    {
        font-size: 25px;
        color:black
    }
    i {
        font: size 25px;
        color: black
    }